{{#each commutes as |commute|}}
<div class="col-3">

  <section data-id="{{commute.id}}">
    <h6>Date:
      {{#if commute.date}}
        {{commute.date}}
      {{else}}
        No date provided
      {{/if}}
    </h6>
    <p>
    <h6>Method:
    {{#if commute.mode}}
    {{commute.mode}}
  {{else}}
    No method provided
  {{/if}}
   </h6>
   </p>
    <p>
      <h6>Time in Minutes:
      {{#if commute.time}}
      {{commute.time}}
    {{else}}
      No time provided
    {{/if}} </h6>
    </p>
    <p>
      <h6>Commute ID: {{commute.id}}</h6>
    </p>
    <button data-id="{{book.id}}" class="btn btn-danger delete-button">Remove</button>
  </section>
</div>
{{/each}}
