{{#each commutes as |commute|}}
<div class="col-3">

  <section data-id="{{commute.id}}">
    <h6>Date:
      {{#if commute.date}}
        {{commute.date}}
      {{else}}
        No date provided
      {{/if}}
    </h6>
    <p>
    <h6>Method:
    {{#if commute.mode}}
    {{commute.mode}}
  {{else}}
    No method provided
  {{/if}}
   </h6>
   </p>
    <p>
      <h6>Time in Minutes:
      {{#if commute.time}}
      {{commute.time}}
    {{else}}
      No time provided
    {{/if}} </h6>
    </p>
    <p>
      <h6>Commute ID: {{commute.id}}</h6>
    </p>
    <div class="dropdown dropdown-inline">
     <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownDeleteButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Delete Entry
  </button>
  <div class="dropdown-menu text-center" aria-labelledby="dropdownDeleteButton">
    <h5 class="dropdown-header">Are you sure?</h5>
    <button data-id="{{commute.id}}" class="btn btn-warning delete-button">Confirm</button>
  </div>
</div>

<!--Edit Entry Menu-->
<div class="dropdown dropdown-inline">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Edit Commute
  </button>
<div class="dropdown-menu">
<form class="px-4 py-3 edit-commute" data-id="edit-{{commute.id}}">
  <fieldset>
<div class="form-group">
<input type="date" class="text" name="commute[date]" value="{{commute.date}}" placeholder="Date (year-month-day)>
</div>

<div class="form-group">
<input type="text" class="text" name="commute[mode]" value="{{commute.mode}}" placeholder="Method of commute">
</div>

<div class="form-group">
<input type="text" class="text" name="commute[time]" value="{{commute.time}}" placeholder="Time in minutes">
</div>
<button type="submit" class="btn btn-outline-success">Save Changes</button>
</fieldset>
</form>
</div>
</div>

  </section>
</div>
{{/each}}
